
.blocker-modal {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    // overflow: auto;
    z-index: 1;
    background-color: rgba(100,100,100,0.5);
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.05em;
    }
}

.modal {
    position: relative;
    z-index: 3;
    margin: 1em auto;
    max-height: 500px;
    max-width: 500px;
    .header {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 3em;
    }
    .close-modal {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(./assets/close-icon.svg);
    }
}