.head-data-table {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nb-entries {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.link-button {
    height: 100%;
    border: 1px lightgray solid;
    padding: 0.25em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    &:hover {
        background-color: #ddd;
    }
}